@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* font dana */
  @font-face {
    font-family: DanaLight;
    src: url("/fonts/Dana/woff2/Dana-Light.woff2");
  }
  @font-face {
    font-family: DanaRegular; /*400*/
    src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2");
  }
  @font-face {
    font-family: DanaMedium; /*500*/
    src: url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2");
  }
  @font-face {
    font-family: DanaDemiBold; /*600*/
    src: url("/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
  }
  /* font moraba */
  @font-face {
    font-family: MorabaLight;
    src: url("/fonts/Morabba/woff2/Morabba-Light.woff2");
  }
  @font-face {
    font-family: MorabaMedium;
    src: url("/fonts/Morabba/woff2/Morabba-Medium.woff2");
  }
  @font-face {
    font-family: MorabaBold;
    src: url("/fonts/Morabba/woff2/Morabba-Bold.woff2");
  }

  @font-face {
    font-family: lalezar;
    src: url("/fonts/Lalezar/Lalezar-Regular.ttf");
  }

  :root {
    @apply bg-gray-100;
  }
  :root.dark {
    @apply bg-gray-900;
  }
  button,
  a {
    @apply outline-none;
  }

  body::-webkit-scrollbar {
    width: 8px;
  }
  body::-webkit-scrollbar-track {
    @apply bg-[#e4e4e4] dark:bg-[#28293d];
  }
  body::-webkit-scrollbar-thumb {
    @apply bg-[#c0c2c5] dark:bg-[#4a4b6d];
  }

  div::-webkit-scrollbar,
  ul::-webkit-scrollbar,
  aside::-webkit-scrollbar {
    width: 6px;
  }
  div::-webkit-scrollbar-track,
  ul::-webkit-scrollbar-track,
  aside::-webkit-scrollbar-track {
    @apply bg-[#f3f4f6] dark:bg-[#28293d];
  }
  div::-webkit-scrollbar-thumb,
  ul::-webkit-scrollbar-thumb,
  aside::-webkit-scrollbar-thumb {
    @apply bg-[#e4e4e4] dark:bg-[#333c4c] rounded-3xl;
  }
  .navbar-subsub-menu::-webkit-scrollbar-track {
    @apply bg-[#f3f4f6] dark:bg-[#333c4c];
  }
  .navbar-subsub-menu::-webkit-scrollbar-thumb {
    @apply bg-[#e4e4e4] dark:bg-[#28293d];
  }

  .container {
    @apply mx-auto px-4 max-w-[475px] sm:px-2.5 sm:max-w-full md:max-w-[700px];
  }

  .btn-primary {
    @apply text-white bg-primary transition-colors hover:bg-primary-hover;
  }
  .btn-primary--outline {
    @apply text-primary border border-primary bg-transparent transition-colors hover:bg-[#1eb35b1a];
  }

  .link-section-header::after {
    clip-path: polygon(6px 0, 100% 0, 100% 100%, 0 100%);
  }

  .slider-btn {
    width: 500px !important;
  }

  .group[data-selected="true"] .group-data-\[selected\=true\]\:text-primary-foreground {
    @apply !text-secondary;
  }
  .go4109123758,
  #_rht_toaster {
    @apply !z-[999999999];
  }

}
