@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* font dana */
  @font-face {
    font-family: DanaRegular; /*400*/
    src: url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2");
  }
  @font-face {
    font-family: DanaMedium; /*500*/
    src: url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2");
  }
  @font-face {
    font-family: DanaDemiBold; /*600*/
    src: url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
  }
  /* font moraba */
  @font-face {
    font-family: MorabaLight;
    src: url("../fonts/Morabba/woff2/Morabba-Light.woff2");
  }
  @font-face {
    font-family: MorabaMedium;
    src: url("../fonts/Morabba/woff2/Morabba-Medium.woff2");
  }
  @font-face {
    font-family: MorabaBold;
    src: url("../fonts/Morabba/woff2/Morabba-Bold.woff2");
  }

  button,
  a {
    @apply outline-none;
  }

  body {
    height: 300vh;
  }

  body::-webkit-scrollbar {
    width: 8px;
  }
  body::-webkit-scrollbar-track {
    @apply bg-[#e4e4e4] dark:bg-[#28293d];
  }
  body::-webkit-scrollbar-thumb {
    @apply bg-[#c0c2c5] dark:bg-[#4a4b6d];
  }

  div::-webkit-scrollbar,
  ul::-webkit-scrollbar {
    width: 6px;
  }
  div::-webkit-scrollbar-track,
  ul::-webkit-scrollbar-track {
    @apply bg-[#f3f4f6] dark:bg-[#28293d];
  }
  div::-webkit-scrollbar-thumb,
  ul::-webkit-scrollbar-thumb {
    @apply bg-[#e4e4e4] dark:bg-[#333c4c] rounded-3xl;
  }
}
